services:
  - type: web
    name: web-truyen-backend
    env: node
    # Build from root to handle monorepo dependencies
    buildCommand: pnpm install && cd apps/backend && pnpm prisma generate && pnpm run build
    startCommand: cd apps/backend && pnpm run start:prod
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: NPM_CONFIG_PRODUCTION
        value: false
      - key: PORT
        value: 3001
